<app-navbar></app-navbar>
<div class="d-flex" id="cipi">
  
  <div class="images">
    <div id="img"  style="background-image: url('assets/img/1.jpg');"></div>
  </div>
  <div class="d-flex justify-content-center align-self-center " id=content>
    <p id="title">{{s.language == 'it' ? 'Il Gruppo': 'The Group'}}</p>
    <p id="text">
      {{s.language == 'it' ? 'Lungo testo dimostrativo di quanto il nostro gruppo sia unito, competente e assurdamente figo testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento testo di prolungamento. '
      : 'Long Text before ninjago text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long text text text but long.'}}
    </p>
  </div>
</div>
<app-footer></app-footer>