<div class="footer text-center ">
  <div class="d-flex justify-content-center" id="yo">
    <ul>
        <li><h5>SAVING Srl (Group Holding)</h5></li>
        <li><p>Via Soperga, 6 -20127,Milano <br>
            Tel.: +39 02 576891 <br>
            P.Iva 01283350153 <br>
            <a href="mailto:saving@pec.savingroup.com?subject=Contatto Dal Sito Saving">saving&#64;pec.savingroup.com</a> <br>
            Modello Organizzativo L. 231</p>
        </li>
    </ul>
    
    <div id="img">
      <a href="https://www.ucimu.it" target="_blank"><img src="assets\img\FooterNewWeb1.png" alt="" srcset=""></a>
      <a href="https://www.aipe.it" target="_blank"><img src="assets\img\FooterNewWeb2.png" alt="" srcset=""></a>
      <a href="https://www.certiquality.it" target="_blank"><img src="assets\img\FooterNewWeb3.png" alt="" srcset=""></a>
      <a href="https://www.iqnet-certification.com" target="_blank"><img src="assets\img\FooterNewWeb4.png" alt="" srcset=""></a>
      <a href="https://www.fiata.org" target="_blank"><img src="assets\img\FooterNewWeb5.png" alt="" srcset=""></a>
      <a href="https://www.iata.org" target="_blank"><img src="assets\img\FooterNewWeb6.png" alt="" srcset=""></a>
    </div>
  </div>
</div>
