<div class="footer text-center ">
  <div class="d-flex justify-content-center" id="yo">
    <ul>
        <li><h5>SAVING Srl (Group Holding)</h5></li>
        <li><p>Via Soperga, 6 -20127,Milano <br>
            Tel.: +39 02 576891 <br>
            P.Iva 01283350153 <br>
            <a href="mailto:saving@pec.savingroup.com?subject=Contatto Dal Sito Saving">saving&#64;pec.savingroup.com</a> <br>
            Modello Organizzativo L. 231</p>
        </li>
    </ul>
    
    <img style="" src="assets/img/FooterNewWeb.png" alt="" class="img-fluid"/>
  </div>
</div>
