.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

    background-color: #00597a;
    padding: 5px;
    color: white;
    
}

    h5{
      margin-top: 0px;
    }
    h6{
      margin: 0px 0px;
    }
    ul{
      text-align: left;
      list-style: none;
      margin: 0px;
      p{
        font-size:small;
      }
    }
    a{
      color: #ffffff;
    }
    p{
      margin: 0
    }

#yo{
  display: flex;
  flex-direction: row;
  gap: 20px
}

  #img {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; /* Impedisce alle immagini di andare a capo */
      overflow-x: auto; /* Permette lo scorrimento orizzontale se necessario */
      width: 90%;
      max-width: 600px;
  }

    #img a {
        flex: 1 1 auto; /* Impedisce agli <a> di ridimensionarsi */
    }

  #img img {
      width: auto;
      height: auto;
      max-width: 100%;
      display: block; /* Rimuove lo spazio bianco sotto le immagini */
  }

@media screen and (max-width: 768px) {
  #yo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  
  }