<div class="main">
  <div class="flex">
    <div class="image">
      <img src="assets\img\Airfreight.png" alt="" srcset="">
    </div>
    <div class="text-column">
      <div class="content" *ngIf="s.language=='it'">
        <div class="title">Storia della SAVING Srl</div>
        <hr class="solid">
        <p class="paragraph">
          SAVING Srl è stata fondata nel 1964.
          <br>
          Fin dall'inizio la Società ha avuto due anime: Project Freight Forwarding (principalmente nei settori Oil & Gas e Power Generation) e General Freight Forwarding. Il risultato è stato un successo invidiabile e, nel giro di pochi anni, Saving Srl è diventata specialista in entrambi i settori ed ha ottenuto e guadagnato la fiducia d’importanti società di ingegneria internazionali in Italia, Europa e Stati Uniti, così come d’importanti produttori italiani su larga scala di beni durevoli quali Ignis, Zanussi, Philips, Siemens e molti altri.
          <br>
          Operando in entrambi i mercati, nel corso degli anni abbiamo creato divisioni separate altamente specializzate per il Project e il General Freight Forwarding, rappresentate dalle seguenti due società.
          <br>
          SAVING Shipping & Forwarding Srl – Fino Mornasco (COMO)
          <br>
          Gestione della logistica di progetto door to door in tutto il Mondo tramite una consolidata rete di agenti, trasporti di impianti industriali, carichi pesanti e fuori sagoma, noleggio di navi costiere/marittime-fluviali/heavy lift e aerei cargo, trasporti oceanici.
          <br>
          SAVING Sped Air Srl – Cavenago di Brianza e Segrate (MILANO)
          <br>
          Gestione di spedizioni via aerea e via terra, spedizioni import ed export da/per tutto il Mondo tramite una consolidata rete di agenti, sdoganamento, stoccaggio, deposito doganale e non e logistica.
          <br>
          Oggi il Gruppo SAVING è uno dei più longevi e rispettati spedizionieri Italiani operante nel settore delle spedizioni industriali, attivo sul mercato da 60 anni con la stessa proprietà, che fornisce soluzioni affidabili di trasporto multimodale door to door su misura a produttori, società di ingegneria e spedizionieri esteri.
          <br>
          SAVING Group opera nei propri uffici e nel proprio terminal merci situato a Cavenago di Brianza (circa 25 km a est di Milano, lungo l'autostrada A4 Torino-Milano-Venezia-Trieste https://goo.gl/maps/jrpqUZUNYsepqNgP9 ). Il terminal di Cavenago è dotato di un piazzale di 3.000 mq per lo stoccaggio temporaneo di grandi attrezzature servito da mezzi di sollevamento fino a 9 MTon (e capacità superiori con gru mobili a noleggio) e di un magazzino coperto di 3.500 mq, inclusa un'area doganale di 500 mq, servito da mezzi di sollevamento fino a 15 MTon.
          <br>
          SAVING Group è in grado di servire i Clienti più esigenti mediante personale qualificato ed esperto, offrendo un'assistenza professionale a tutto tondo e un'ampia gamma di soluzioni personalizzate, il tutto in stretta conformità con le istruzioni e le esigenze del Cliente. Per confermare il suo impegno nell'esecuzione di servizi di alta qualità, SAVING Group ha adottato da diversi anni un Sistema di Gestione della Qualità certificato "UNI EN ISO 9001:2015" che garantisce un rigoroso monitoraggio dei flussi di processo interni dell'Azienda e un'attenta selezione di subappaltatori che corrispondono ai più elevati standard qualitativi disponibili sul mercato.
        
        
        </p>
      </div>
      <div class="content" *ngIf="s.language=='en'"></div>
    </div>
  </div>
</div>
