

<div class="" id="serv"> 
  <div class="row m-0 p-0 " id="yo">
    <div class="left col-lg-6 m-0 p-0">
      <a class="service-link" (click)="scrollTop()" [routerLink]="['/services/2']">
        <div class="obscure">
          <div class="centered">{{s.getString('services','service2')}}</div>
          <div class="ov">
            <div id="img1" class="service" style=" background-image: url('assets/img/AirHome.jpg');"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="right col-lg-6 m-0 p-0">
      <a class="service-link" (click)="scrollTop()" [routerLink]="['/services/3']">
        <div class="obscure">
          <div class="centered">{{s.getString('services','service3')}}</div>
          <div class="ov">
            <div id="img2" class="service" style=" background-image: url('assets/img/SeaHome.jpg');"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row m-0 p-0 ">
    <div class="left col-lg-6 m-0 p-0">
      <a class="service-link" (click)="scrollTop()" [routerLink]="['/services/4']">
        <div class="obscure">
          <div class="centered">{{s.getString('services','service4')}}</div>
          <div class="ov">
            <div id="img3" class="service" style=" background-image: url('assets/img/TruckHome.jpg');"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="right col-lg-6 m-0 p-0">
      <a class="service-link" (click)="scrollTop()" [routerLink]="['/services/5']">
        <div class="obscure">
          <div class="centered">{{s.getString('services','service5')}}</div>
          <div class="ov">
            <div id="img4" class="service" style=" background-image: url('assets/img/CargoTerminal.jpg');"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
