.service {
  width: 100%;
  height: 22vw;
  min-height: 291px;

  display: block;
  object-fit: cover;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform .5s ease;

}

.ov:hover .service{
  transform: scale(1.2);
} 

.ov{
  overflow: hidden;
}

#yo{
  padding-bottom:2px;
  border-bottom:3px solid #fff;
}

.left{
  border-right: 2px solid #fff;
}

#serv{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.col-md-6 {
  position: relative;
  text-align: center;
}

.centered {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  font-size: larger;
}


.obscure {
  background-color: black;
  text-align: center;
  position: relative;
}


@media (max-width : 991px) {

  .obscure .centered {
    visibility: visible;
    opacity: 1;

  }

  .obscure .service {
    opacity: 0.4;

  }
}

.obscure:hover .centered {
  visibility: visible;
  opacity: 1;

}

.obscure:hover .service {
  opacity: 0.6;

}

#img1 {
  
  min-height: 250px;
  min-width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  background-size: cover;
}

#img2 {
  
  min-height: 250px;
  min-width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  background-size: cover;
}

#img3 {
  
  min-height: 250px;
  min-width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  background-size: cover;
}

#img4 {
 
  
  min-height: 250px;
  min-width: 400px;
  background-repeat: no-repeat;
  background-position: center;
  display: block; 
  background-size: cover;
}