#cont{
  display: flex;
  flex-direction: row;
  width: 98vw;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.immagini{
  border: solid #00597a 1px;
  height: 70vh;
  width: 40vw;
  object-fit:cover;
  margin-right: 20px;
  box-shadow:0px 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

  
}

#content2 {
  display: flex;
  flex-direction: column;
  width: 34vw;
  min-width: 500px;
  justify-content: center;
  padding-left: 10px;
}

#text{ 
  position: relative;
  text-align: center;
  text-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  font-weight: 500;
  align-self: center;
}

.first{
  font-size: 40px;
  font-weight: 600;
    
}


#title {
  text-align: center;
  text-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #00597a;
}

#gallery {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  appearance: none;
  background-color: #00597a;
  border: 2px solid #00597a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 0;
  min-height: 60px;
  min-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  max-width: 350px;
  will-change: transform;
}

#gallery:disabled {
  pointer-events: none;
}

#gallery:hover {
  color: #00597a;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  transform: translateX(-50%);
}

#gallery:active {
  box-shadow: none;
  transform: translateY(0);
  transform: translateX(-50%);
}
.disabled {
  visibility: hidden;
}

#carouselExampleAutoplaying{
}

.carousel-inner{

} 

.carousel-item {
  
}

@media screen and (max-height: 900px) {
  .text{ 
    font-size: 14px;
  }
}


@media screen and (max-width: 1199px) {
  #cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 95vw;

  }
  #title {
    margin-top: 0px;
  }
  .immagini{
    width: 90vw;
    height: 450px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  #content2 {
    width: 90vw;
    margin-left: 0px;
    min-width: 0px;
  }
}