#cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  height: calc(100vh - 139.5px);
}
.immagini {
  border: solid #00597a 1px;
  height: 60vh;
  width: 50vw;
  object-fit: cover;
  margin-right: 20px;
}
#content2 {
  display: flex;
  flex-direction: column;
  width: 34vw;
  min-width: 500px;
  justify-content: center;
  padding-left: 10px;
}
#cont3 {
  height: calc(100vh - 139.5px);
  width: 98vw;
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: row;
  column-gap: 15%;
}
.first {
  font-size: 40px;
  font-weight: 600;
}
#title {
  text-align: center;
  text-wrap: wrap;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #00597a;
}
#title2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #00597a;
}
#gallery{
  position: absolute;
  bottom: 30px;
  z-index: 9;
  font: 300 30px/1.5 'Playfair Display', serif;
  color: #00597a;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #283271, #283271 50%, #00597a 50%);
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  &:hover {
    background-position: 0%;
  }
  border: none;
}
.carous {
  position: relative;
  width: 100%;
  height: 100%;
}
.current {
  position: relative;
  z-index: 10;
}

.right{
  float: right;
  top: 50px;
}

.bottom{
  bottom: 35px;
  right: 10px;
}

.cargo{
  top: -10px;
  right: 10px;
}

.contact-btn {
  position: absolute;
  margin-right:5px ;
  color: #00597a;
  font-family: 'Playfair Display', serif;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    &:before {
      transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
      transition-duration: 0.4s;
      opacity: 1;
      transform: scale3d(1.2, 0.1, 1);
    }
    span {
      transform: translate3d(0, 0, 0);
      transition-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
      transition-duration: 0.4s;
      transition-delay: 0s;
    }
  }
  &:before {
    transform: scale3d(1, 1, 1);
    transition: transform 0.2s, opacity 0.2s;
    transition-timing-function: cubic-bezier(0.2, 0.57, 0.67, 1.53);
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  span {
    transform: translate3d(0, -4px, 0);
    display: inline-block;
    transition: transform 0.2s 0.05s cubic-bezier(0.2, 0.57, 0.67, 1.53);
  }
}
.next {
  position: absolute;
  z-index: 5;
  -webkit-box-shadow: 20px 26px 24px -21px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 20px 26px 24px -21px rgba(0, 0, 0, 0.67);
  box-shadow: 20px 26px 24px -21px rgba(0, 0, 0, 0.67);
}
@media screen and (max-height: 950px) {
  .text {
    font-size: 14px;
  }
}
@media screen and (max-height: 800px) {
  #cont3{
    min-height: 700px;
    height: fit-content;
  }
  #cont {
    min-height: 700px;
    height: fit-content;
  }
}
@media screen and (max-width: 1199px) {
  #cont3{
    height: fit-content;
    width: 94vw;
  }
  .text{
    column-gap: 21%;
  }
  #cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 100px;
  }
  #title {
    margin-top: 0px;
  }
  .immagini {
    width: 90vw;
    height: 450px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
  #content2 {
    width: 90vw;
    margin-left: 0px;
    min-width: 0px;
  }
}