


<p id="title">{{getTitle()}}</p>
<div id="cont">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="4000" >
    <div class="carousel-inner">
      <div class="carousel-item" [ngClass]="{'active':i===0}" alt="..." *ngFor="let project of getProjects();let i=index" >
        <img src="{{project.thumbnail}}" class="d-block w-100" class="immagini">
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>
  <div id=content2>
    
    <p class="text" *ngFor="let t of getText()">
      {{t}}
    </p>
    <button id="gallery" (click)="scrollTop()" *ngIf="id <= 4" [routerLink]="['../../1/gallery']">{{s.language == 'it' ? 'Vai alla galleria' : 'Go to gallery'}}</button>
  </div>

</div>